 <footer class="flex bg-white text-md font-Body sm:flex-row flex-col p-6 justify-between gap-4 items-start sm:items-center text-start text-violet-800 my-12">
                <div class="">

                    <p><a href="/">Home</a></p>
                    <p><a href="/faculty">Our Faculties</a></p>
                    <p><a href="/students">Our Students</a></p>
                </div>
                <div>
                    <p><a href="/courses">Our Courses</a></p>
                    <p><a href="/faq">Faqs</a></p>
                    <p><a href="https://t.me/Tech_Uni">Our Community</a></p>
                    
                </div>
                <div>
                    <p><a href="https://www.careeredu.co.uk/">Visit Our CareerEdu Website</a></p>
                    <p><a href="/jobs">Career Oppurtunities</a></p>
                   
                    
                </div>
               
                <div class="flex flex-row gap-4 items-start justify-start">
                    <a href="https://web.facebook.com/techuniglobal" class="mx-3 mt-2 text-3xl text-purple-800 shadow-3xl shadow-black"><i class="fab fa-facebook"></i></a>
            <a href="https://instagram.com/techuni_?igshid=YmMyMTA2M2Y=" class="mx-3 mt-2 text-3xl text-violet-800 shadow-3xl shadow-black"><i class="fab fa-instagram"></i></a>
            </div>
                
            </footer>


       
        