<%- include("partials/primary_header"); -%>
 <title>TechUni</title>
    <main class=" w-full">
       <!-- <a  href="https://Store.techuni.io"
                    class="my-3 mx-6 z-10 text-white hover:bg-violet-900 bg-violet-700 p-6 flex justify-center items-center sm:w-1/2 w-72  rounded-md shadow-xl    text-xl" target="_blank"> <i class="fas fa-star"></i>
                   NOTIFICATION: <br> Next Cohort Starts April 10th </a>  -->
                
        <section id="hero"
            class="widescreen:section-min-height  tallscreen:section-min-height  mt-6 flex scroll-mt-40 flex-col z-50 items-center  rounded-xl justify-between   gap-4  sm:flex-row">
             <div  id="particles-js"></div>
                  

            <article class=" flex  flex-col sm:w-1/2 w-full  px-3  shadow-3xl z-10" data-aos="zoom-out" data-aos-delay="400">

                 
               
                
                <!-- <a class="navbar-brand" href="#"><img src="./images/TUL.jpg" alt="" class="" width="150px"></a> -->
                <!-- <h2 class="max-w-md text-start text-4xl  text-slate-800 font-extrabold dark:text-white sm:text-left sm:text-5xl">
                    <hr class="mx-20 h-1 font-extrabold text-lg w-32 rounded-xl  bg-slate-300 " />
                   Tech<span class="text-indigo-700">Uni</span> 
                </h2> -->
                
               
                <h2 class="mt-6 font-bold font-Body w-full intro  sm:py-3      sm:text-start  text-violet-800">
                    Let's Help Upskill Your Tech Skills
                  <!-- <span class="text-violet-800">Let's</span>  Help You <span class="text-violet-800">Upskill </span> Your <span class="text-violet-800">Tech</span>  skills -->
                </h2>

                
                
                   
               
                <p class="py-3 text-xl rounded-xl my-3 text-slate-600 font-Body   border-solid border-0 w-full  sm:text-justify ">
                    Tech Uni  is an online digital platform that will accelerate tech education in Africa with live training and courses.
                    <!-- Courses are practical, implementation-based, taught by experienced, dedicated faculty and designed to help accelerate
                      tech adoption, reduce unemployment and pull young people out of multi-dimensional poverty. Each course is packaged as a
                    40-hour live session over 4 weeks (10 hour per week) with both theory and practical sessions. <br> <br></p> -->

                
                
                
                  
                
                <!-- <img src="./images/TechUni Icon@300x.png" alt="" class="my-6 mx-3 " width="100px"> -->
                 <div class="flex flex-row gap-4 items-start justify-start">
                    <a href="https://web.facebook.com/techuniglobal" class="mx-3 mt-2 text-3xl text-purple-800 shadow-3xl shadow-black"><i class="fab fa-facebook"></i></a>
            <a href="https://instagram.com/techuni_?igshid=YmMyMTA2M2Y=" class="mx-3 mt-2 text-3xl text-violet-800 shadow-3xl shadow-black"><i class="fab fa-instagram"></i></a>

                     <a  href="https://Store.techuni.io"
                    class=" text-white bg-violet-800 p-3 w-1/2 sm:w-36 rounded-md shadow-xl   text-center text-md"  target="_blank"> 
                   Register <i class="fas fa-chevron-circle-right"></i></a> 
                  
                 </div>
                 
               
               


                    

                
               
        
            </article>
            <div class="owl-carousel owl-theme w-full sm:w-1/2 rounded-3xl z-10" data-aos="zoom-out" data-aos-delay="400">
     <div class="item ">
        <img class="car-img" src="images/intro/slider1.png"  alt="">
    </div>
    <div class="item">
        <img src="images/intro/slider2.png" alt="">
    </div>
     <div class="item">
        <img class="car-img" src="images/intro/slider3.png" alt="">
        
    </div>
     <div class="item">
        <img  class="car-img" src="images/intro/slider4.png" alt="">
    </div>
     <div class="item">
        <img class="car-img" src="images/intro/slider7.png" alt="">
    </div>
     <div class="item">
        <img  class="car-img" src="images/intro/slider6.png" alt="">
    </div>
    
    
</div>





           
        <!-- <img class="w-full sm:w-1/2   rounded-3xl z-10" src="images/BGC-HOME.png" alt="hug" data-aos="zoom-in" data-aos-delay="400"  /> -->
            <!--  -->
        </section>
    
        <!-- <hr class="mx-auto w-1/2 mb-3 bg-black dark:bg-white" /> -->

        <!-- <hr class="mx-auto w-1/2 bg-black dark:bg-white" /> -->
        <div class=" p-4 more"></div>

        <section
        id="hero"
        data-aos="fade-up"
        class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex w-full scroll-mt-40 flex-col items-center justify-center gap-6 rounded-xl bg-violet-800 p-6 sm:flex-row-reverse md:mt-3"
      >
        <article class="w-full sm:w-1/2 font-Body">
          <h2
            class="max-w-md text-start text-2xl font-extrabold text-slate-50 sm:text-left sm:text-5xl"
          >
            WHAT IS TECHUNI?
          </h2>
          <p
            class="mt-4 max-w-full text-start text-lg text-slate-50 sm:text-left"
          >
            <i class="bi bi-check-circle text-3xl text-green-500"></i>
             Tech Uni  is an online digital platform that will accelerate tech education in Africa with live training and courses.
            
          </p>
          <p
            class="mt-4 max-w-md text-start text-lg text-slate-50 sm:text-left"
          >
            <i class="bi bi-check-circle text-3xl text-green-500"></i>
           Courses are practical, implementation-based, taught by experienced, dedicated faculty and designed to help accelerate tech adoption, reduce unemployment and pull young people out of multi-dimensional poverty.
          </p>
          <p
            class="mt-4 max-w-md text-start text-lg text-slate-50 sm:text-left"
          >
            <i class="bi bi-check-circle text-3xl text-green-500"></i>
           Each course is packaged as a 40-hour live session over 4 weeks (10 hour per week) with both theory and practical sessions.
          </p>
        </article>
        <img class="w-full sm:w-1/2" src="images/Hero-people-min-1024x614.png" alt="hug" />
      </section>

        
              <section id=""
            class=" p-6 bg-papayawhip-light rounded-full font-Body">
            <h2 class="mb-6 text-center font-Alt text-3xl text-violet-800 font-bold  sm:text-5xl" >
                What Do <span class="mt-12">We</span> Offer ?
            </h2>
            <ul class="mx-auto my-12 flex list-none flex-col items-center gap-8 sm:flex-row">
                <li data-aos="fade-down" data-aos-delay="400"
                    class="flex w-full flex-col items-center rounded-3xl  py-6 px-2  sm:w-5/6">
                   
                    <i class="fas fa-cubes text-5xl text-violet-800"></i>
                    <h3 class="text-center text-2xl font-bold text-slate-900 my-3">
                        In-demand Skills
                    </h3>
                    <p class="mt-2 text-center text-xl text-slate-500  sm:block">
                        We Provide You With Skillsets That Are Highly Sought After
                    </p>
                    
                </li>
                <li data-aos="fade-up" data-aos-delay="400"
                    class="flex w-full flex-col items-center rounded-3xl  py-6 px-2 sm:w-5/6">
                    <i class="fas fa-chalkboard-teacher text-5xl text-violet-800"></i>
                    <h3 class="text-center text-2xl font-bold text-slate-900 my-3">
                        Great Tutors
                    </h3>
                    <p class="mt-2  text-center text-xl text-slate-500  sm:block">
                        Our Faculties are good at and passionate about what they do. All geared towards providing you with the best knowledge.
                    </p>
                    
                </li>
                 <li data-aos="fadeIn" data-aos-delay="400"
                    class="flex w-full flex-col items-center rounded-3xl  py-6 px-2 sm:w-5/6">
                    <i class="fas fa-business-time text-5xl text-violet-800"></i>
                    <h3 class="text-center text-2xl my-3 font-bold text-slate-900">
                        Flexible Learning System
                    </h3>
                    <p class="mt-2  text-center text-xl text-slate-500  sm:block">
                        We take cognisanse of the fact that our students come from various walks of life and so we provide a flexible system of learning to ensure they meet up.
                    </p>
                    
                </li>
                

            </ul>
        </section>

         <!-- Services section starts -->

     
        <h2
          class="mb-6 text-center text-3xl font-Alt font-bold text-violet-800 sm:text-4xl"
        >
          <i class="bi bi-graduation-cap text-violet-800"></i> COURSES WE OFFER
        </h2>
        <div data-aos="flip-left" data-aos-delay="400" class="service_carousel w-full my-6 sm:w-1/3 mx-auto">
          <div class="owl-carousel owl-theme">
    <div class="items rounded-xl">
        <img class="rounded-md" src="images/courses/Course AD 2.jpg" alt="">
    </div>
     <div class="items">
        <img class="car-img" src="images/courses/Course AD 3.jpg" alt="">
       
    </div>
     <div class="items">
        <img  class="car-img" src="images/courses/Course AD 4.jpg" alt="">
    </div>
     <div class="items">
        <img class="car-img" src="images/courses/Course AD 5.jpg" alt="">
    </div>
     <div class="items">
        <img  class="car-img" src="images/courses/Course AD 6.jpg" alt="">
    </div>
     <div class="items">
        <img class="car-img" src="images/courses/Course AD 7.jpg" alt="">
    </div>
    <div class="items">
        <img class="car-img" src="images/courses/Course AD 8.jpg" alt="">
    </div>
    <div class="items">
        <img class="car-img" src="images/courses/Course AD 9.jpg" alt="">
    </div>
    <div class="items">
        <img class="car-img" src="images/courses/Course AD 10.jpg" alt="">
    </div>
    <div class="items">
        <img class="car-img" src="images/courses/Course AD 11.jpg" alt="">
    </div>
    <div class="items">
        <img class="car-img" src="images/courses/Course AD 12.jpg" alt="">
    </div>
    <div class="items">
        <img class="car-img" src="images/courses/Course AD 13.jpg" alt="">
    </div>
    <div class="items">
        <img class="car-img" src="images/courses/Course AD 14.jpg" alt="">
    </div>
    
</div>

        </div>
        
      

      <!-- Services section ends -->

        <div class="peer "></div>
        <div data-aos="flip-right" data-aos-delay="400" class="my-3 flex flex-col w-full p-3 text-start  justify-between items-start sm:w-1/2 text-slate-700">
                <h2 class="text-3xl font-Alt text-violet-800 my-3">Our Community</h2>
                <p class="text-xl">We Know the importance of Community and Collaboration, we have a community where our students discuss, share ideas and help each other grow.</p>

                 <a  href="https://t.me/Tech_Uni"
                    class=" text-white bg-violet-800 my-6 p-3 w-full sm:w-1/2 rounded-md shadow-xl   text-center text-md" target="_blank"> 
                   Join Our Community <i class="bi bi-people"></i> </a> 
            </div>

            <!-- <div class="night "></div> -->

            <%- include("partials/footer"); -%>

           
        
        
       


       
       

        

        <div id="preloader">
            <div id="loader"></div>
        </div>
        <a href="#" class="back-to-top d-flex  align-items-center justify-content-center"><i
                class="fas fa-arrow-circle-up"></i></a>

        </main>


        
        <!-- <hr class="mx-auto w-1/2 mb-3 bg-black dark:bg-white" /> -->

        <!-- jquery cdn -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- typed.js cdn -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js"
            integrity="sha512-1KbKusm/hAtkX5FScVR5G36wodIMnVd/aP04af06iyQTkD17szAMGNmxfNH+tEuFp3Og/P5G32L1qEC47CZbUQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="js/preload.js"></script>
       

        <!-- jquery cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

     <!-- OWL CAROUSEL JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
    loop:true,
    // margin:10,
    nav:false,
    dots: false,
    autoplay:true,
    autoplayingTimeout: 2000,
    animateIn: "fadeIn",
    animateOut: "fadeOut",
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        },
        1400:{
            items: 1
        }
    }
})
    </script>

   <script type="text/javascript">
        $('.service-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:false,
    autoplay:true,
    autoplayingTimeout: 2000,
   
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:3
        },
        1400:{
            items: 3
        }
    }
})
    </script>

    <!-- ANIMATE ON SCROLL JS CDN -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- ANIMATE ON SCROLL INIT -->
    <script defer>
        AOS.init();
    </script>

 
  <!-- particle.js links -->
  <script src="/js/particles.min.js"></script>
  <script src="/js/app.js"></script>

  

       
    
</body>
</html>