<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-359829758"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-359829758');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechUni : Our Courses</title>
    <!-- SITE FAVICON -->
    <link href="../images/TechUni Icon@300x.png" rel="icon">
    <link href="../images/TechUni Icon@300x.png" rel="apple-touch-icon">

    

   
    <link href="css/output.css" rel="stylesheet" />
   
    

    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css"
      integrity="sha512-YFENbnqHbCRmJt5d+9lHimyEMt8LKSNTMLSaHjvsclnZGICeY/0KYEeiHwD1Ux4Tcao0h60tdcMv+0GljvWyHg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
       

    <!-- EXTERNAL FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
   

    <script src="js/main.js" defer></script>

    <style>
        .fixed-link{
            position: fixed;
            top: 10;
            right: 0;
            z-index:100;
        }

         /* nav a:hover {

        color: indigo !important;
        text-decoration: none !important;
        border-bottom: 0.3rem solid indigo !important;
        padding: 0.3rem !important;
        transition: all 0.5s ease-in-out 0.5s;
    } */
        /* body{
           
       background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");

        } */
    </style>
    <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1908748432791340');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=1908748432791340&ev=PageView&noscript=1" /></noscript>
    <!-- End Meta Pixel Code -->
</head>

<body class="min-h-screen bg-papayawhip-light  text-white font-Body">
    <header class="sticky top-0 z-50 bg-white  font-Body text-black   mx-auto">
        <section class="mx-auto flex max-w-full items-center justify-between p-4">
            <a class="navbar-brand " href="#"><img src="images/TechUni Logo@300x.png" alt=""  width="150px"></a>
            <div class="sm:bg-white bg-violet-800    shadow-xl  sm:shadow-none sm:p-0 sm:rounded-none p-3 rounded-full">
                <button id="hamburger-button" class="relative h-8 w-8 cursor-pointer text-xl md:hidden">
                    <!-- &#9776; -->
                    <div
                        class="absolute top-4 -mt-0.5 h-1 w-8 rounded bg-white  transition-all duration-500 before:absolute before:h-1 before:w-8 before:-translate-x-4 before:-translate-y-3 before:rounded before:bg-white before:transition-all before:duration-500 before:content-[''] after:absolute after:h-1 after:w-8 after:-translate-x-4 after:translate-y-3 after:rounded after:bg-white after:transition-all after:duration-500 after:content-['']">
                    </div>
                </button>
                <nav class="hidden  space-x-8 text-base md:block" aria-label="main">
                    <a href="/" class="w-full py-6 text-center hover:text-violet-800  hover:underline">Home </a>
                    <!-- <a href="https://www.careeredu.co.uk/" class="w-full py-6 text-center hover:opacity-90">Visit Our Website </a> -->
                    <a href="/courses" class="w-full py-6 text-center hover:opacity-90">Courses </a>
                    <a href="/faculties" class="w-full py-6 text-center hover:opacity-90">Faculties </a>
                    <a href="/students" class="w-full py-6 text-center hover:opacity-90">Students </a>
                    <a href="/jobs" class="w-full py-6 text-center hover:opacity-90">Apply to Jobs </a>
                    <a href="/faq" class="w-full py-6 text-center hover:opacity-90">Faqs</a>
                   
                   
                    
                </nav>
            </div>
        </section>
        <section id="mobile-menu"
            class="top-68 justify-content-center absolute hidden w-full origin-top animate-open-menu flex-col bg-papayawhip-light text-black  text-2xl">
            <!-- <button class="text-8xl self-end px-6">
                    &times;
                </button> -->
            <nav class="flex min-h-screen  flex-col items-center py-8" aria-label="mobile">
                <a href="/" class="w-full py-6 text-center hover:opacity-90"><i class="fas fa-home text-violet-800"></i> Home</a>
                <!-- <a href="https://www.careeredu.co.uk/" class="w-full py-6 text-center hover:opacity-90"><i class="fas fa-globe-africa text-purple-900"></i> Visit Our Website</a> -->
                <a href="/courses" class="w-full py-6 text-center hover:opacity-90"><i
                        class="fas fa-user-graduate text-violet-800"></i>
                    Courses</a>
                <a href="/faculties" class="w-full py-6 text-center hover:opacity-90"><i class="fas fa-chalkboard-teacher text-violet-800"></i>
                    Faculties</a>
                <a href="/students" class="w-full py-6 text-center hover:opacity-90"><i class="fas fa-graduation-cap text-violet-800"></i> Students  </a>
                <a href="/jobs" class="w-full py-6 text-center hover:opacity-90"><i class="bi bi-briefcase-fill text-violet-800"></i> Apply For Jobs  </a>
               
                <a href="/faq" class="w-full py-6 text-center hover:opacity-90"><i class="fas fa-question text-violet-800"></i> Faqs  </a>
               
               
               
               
                
            </nav>
        </section>
    </header>



    <!-- 1st and second cards -->
    
    <section data-aos="flip-down" data-aos-delay="300"
        class="widescreen:section-min-height tallscreen:section-min-height my-6 scroll-mt-12 p-4 w-full sm:text-base"
       >
        <h2 class="mb-6 text-center text-4xl font-bold text-purple-900 sm:text-3xl">
            Our Courses
        </h2>
        <ul
            class="mx-auto my-6 flex list-none flex-col items-center justify-center align-middle gap-8 lg:flex-row lg:text-2xl sm:text-base">
            <!-- 1st card -->
            <li data-aos="flip-up" data-aos-delay="200"
                class="flex w-full flex-col items-center    py-6 px-4 shadow-xl sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/ui.jpg" alt="Explorer" class="mb-6 w-full" />
    
                
                <h3 class="text-start mt-2 text-2xl text-slate-900">
                    UI/UX Designing
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500  px-2">
                    
                </p>
    
                <hr class="mx-auto mt-3 w-full bg-black dark:bg-white" />
    
               
    
            </li>
    
            <!-- 1st card ends -->
    
            <!-- 2nd card begins -->
            <li data-aos="flip-down" data-aos-delay="200"
                class="flex w-full flex-col items-center   py-6 px-2 shadow-xl sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/excel.jpeg" alt="Explorer" class="mb-6 w-full" />
    
               
                <h3 class="text-start mt-2 text-2xl text-slate-900 ">
                    Basic Data Analysis
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
                   Data Analysis with Excel
                </p>

                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
                    Data Analytics with Excel training will boost your analytics career with powerful new
                    Microsoft Excel skills. You will understand the concepts and hard skills required for a
                    strong analytics career. You’ll learn the basic concepts of data analysis and statistics,
                    helping promote data-driven decision making.
                </p>
    
                <hr class="mx-auto w-full mt-3 bg-slate-300" />
    
               
    
            </li>
    
            <!-- 2nd card ends -->
    
    
    
        </ul>
    </section>
    
    <!-- 1st and 2nd card section ends -->

    <!-- 3rd and 4th cards -->
    
    <section data-aos="flip-down" data-aos-delay="300"
        class="widescreen:section-min-height tallscreen:section-min-height my-2 scroll-mt-12 p-4 w-full sm:text-base"
        >
       
        <ul
            class="mx-auto my-6 flex list-none flex-col items-center justify-center align-middle gap-8 lg:flex-row lg:text-2xl sm:text-base">
            <!-- 3rd card -->
            <li data-aos="flip-up" data-aos-delay="200"
                class="flex w-full flex-col items-center py-6 px-4 shadow-xl sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/tableu.png" alt="Explorer" class="mb-6 w-full" />
    
    
                <h3 class="text-start mt-2 text-2xl text-slate-900">
                    Intermediate Data Analysis
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
                    Data Analysis with Tableau and PowerBi
    
                </p>

                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">You’ll learn the various aspects of the programs and gain skills such as building visu-
                alization, organizing data, and designing dashboards. You will also learn the concepts
                
                of statistics, mapping, and data connection. It is an essential asset to those wishing to
                succeed in data science.</p>
                
    
                <hr class="mx-auto mt-3 w-full bg-black dark:bg-white" />
    
    
    
            </li>
    
            <!-- 3rd card ends -->
    
            <!-- 4th card begins -->
            <li data-aos="flip-down" data-aos-delay="200"
                class="flex w-full flex-col items-center   py-6 px-4 shadow-xl sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/python.jpeg" alt="Explorer" class="mb-6 w-full" />
    
    
                <h3 class="text-start mt-2 text-2xl text-slate-900">
                    Advanced Data Analysis
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
                    Data Analysis with Python
                </p>

                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
                    Python for data science with help you familiarize yourself with programming. Upon
                    completion of this course, you will be able to write your Python scripts, perform
                    
                    fundamental hands-on data analysis using the Jupyter Notebook based environ-
                    ment, and create your own data science projects.

                </p>
    
                <hr class="mx-auto w-full mt-3 bg-slate-300" />
    
    
    
            </li>
    
            <!-- 4th card ends -->
    
    
    
        </ul>
    </section>
    
    <!-- 3rd and 4th card section ends -->

    <!-- 5th and 6th cards -->
    
    <section data-aos="flip-down" data-aos-delay="300"
        class="widescreen:section-min-height tallscreen:section-min-height my-2 scroll-mt-12 p-4 w-full sm:text-base"
       >
       
        <ul
            class="mx-auto my-6 flex list-none flex-col items-center justify-center align-middle gap-8 lg:flex-row lg:text-2xl sm:text-base">
            <!-- 5th card -->
            <li data-aos="flip-up" data-aos-delay="200"
                class="flex w-full flex-col items-center  py-6 px-4 shadow-xl  sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/mobile.jpg" alt="Explorer" class="mb-6 w-full" />
    
    
                <h3 class="text-start mt-2 text-2xl text-slate-900">
                    Mobile App Development
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
                    At the end of this course, students will be able to independently do the following: <br>
                    1. Set up marketing environment digitally for their brands and that of others peculiar <br>
                    to all platforms.
                    2. Make organic post that can drive traffics to their pages before attempting a paid
                    promotional campaign <br>
    
                </p>
    
                <hr class="mx-auto mt-3 w-full bg-black dark:bg-white" />
    
    
    
            </li>
    
            <!-- 5th card ends -->
    
            <!-- 6th card begins -->
            <li data-aos="flip-down" data-aos-delay="200"
                class="flex w-full flex-col items-center  py-6 px-4 shadow-xl sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/digit1.png" alt="Explorer" class="mb-6 w-full" />
    
    
                <h3 class="text-start mt-2 text-2xl text-slate-900">
                    Fundamentals of Digital Marketing
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
                    At the end of this course, students will be able to independently do the following: <br>
                    1. Set up marketing environment digitally for their brands and that of others peculiar
                    to all platforms. <br>
                    2. Make organic post that can drive traffics to their pages before attempting a paid
                    promotional campaign <br>
                    3. Use content to get customers independent of paid promotions <br>
                    
                    4. Run decision based campaigns for businesses using Facebook, Instagram, Linke-
                    din, twitter and Everything Google tools <br>
                    
                    5. Professionally run advertisement on Facebook, Instagram, LinkedIn, Twitter using
                    in house tools To track their campaign(s) and make right business decisions on what
                    works on diverse platforms <br>
                    6. Use Google tools to enhance marketing goals in 4 placement designed by the
                    GOOGLE INC Engage in email marketing tools for more customer conversion and
                    reach <br>
                    
                    7. Troubleshoot and fix ads account issue on any advertisement platforms- Face-
                    book, Instagram, Linkedin , Twitter etc <br>
                    
                    8. Stay complaint in all platforms you use , all you need to know.
                    Understand how search on Google works and how it can be implemented for all
                    business growth. <br>
                    9. Learn how content marketing works in basic and advanced way
                    10. Designing, creating and delivering content for your marketing campaigns and
                    many more. Tracking, reporting, testing and ,making decisions on platforms used by
                    digital marketers.
                    
                </p>
    
                <hr class="mx-auto w-full mt-3 bg-slate-300" />
    
    
    
            </li>
    
            <!-- 6th card ends -->
    
    
    
        </ul>
    </section>
    
    <!-- 5th and 6th card section ends -->

    <!-- 7th and 8th cards -->
    
    <section data-aos="flip-down" data-aos-delay="300"
        class="widescreen:section-min-height tallscreen:section-min-height my-2 scroll-mt-12 p-4 w-full sm:text-base"
       >
       
        <ul
            class="mx-auto my-6 flex list-none flex-col items-center justify-center align-middle gap-8 lg:flex-row lg:text-2xl sm:text-base">
            <!-- 1st card -->
            <li data-aos="flip-up" data-aos-delay="200"
                class="flex w-full flex-col items-center  py-6 px-4 shadow-xl sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/EbookTemplate001.jpg" alt="Explorer" class="mb-6 w-full" />
    
    
                <h3 class="text-start mt-2 text-2xl text-slate-900">
                    E-book writing and Publishing
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
                    Ebooks are vital marketing assets with multiple digital 'pages' that delivers
                    information to its reader.
                    By the end of this course, students will learn how to write an E-Book from
                    start to finish - from title to research to content, etc. Students will also learn
                    how to publish their E-Books on different platforms like Selar, Amazon.
    
                </p>
    
                <hr class="mx-auto mt-3 w-full bg-black dark:bg-white" />
    
    
    
            </li>
    
            <!-- 7th card ends -->
    
            <!-- 8th card begins -->
            <li data-aos="flip-down" data-aos-delay="200"
                class="flex w-full flex-col items-center py-6 px-4 shadow-xl sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/copy.jpg" alt="Explorer" class="mb-6 w-full" />
    
    
                <h3 class="text-start mt-2 text-2xl text-slate-900">
                    The Complete Copyrighting Course
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
                    Copywriting is the art of writing professional, clear, and concise copy for ads
                    and marketing materials - It is strategically delivering words that will get
                    people to take some form of action or inaction. Copywriting is one of the most
                    essential elements of effective online marketing.
                    By the end of the course, students are expected to know how to compel your
                    readers using creative copies; how to gently, ethically stroke people to take an
                    action; how to write attention grabbing advertisements.
                    
                </p>
    
                <hr class="mx-auto w-full mt-3 bg-slate-300" />
    
    
    
            </li>
    
            <!-- 8th card ends -->
    
    
    
        </ul>
    </section>
    
    <!-- 7th and 8th card section ends -->

    <!-- 9th and 10th cards -->
    
    <section data-aos="flip-down" data-aos-delay="300"
        class="widescreen:section-min-height tallscreen:section-min-height my-2 scroll-mt-12 p-4 w-full sm:text-base"
       >
       
        <ul
            class="mx-auto my-6 flex list-none flex-col items-center justify-center align-middle gap-8 lg:flex-row lg:text-2xl sm:text-base">
            <!-- 1st card -->
            <li data-aos="flip-up" data-aos-delay="200"
                class="flex w-full flex-col items-center  py-6 px-4 shadow-xl sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/frontend.jpg" alt="Explorer" class="mb-6 w-full" />
    
    
                <h3 class="text-start mt-2 text-2xl text-slate-900">
                    Frontend Web Development
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
                    The course contents cover three levels which has to do with the proficiency of the student, the topics are structured in
                    such a way that the student begins with the less tasking to the more tasking. There is a beginner level, an intermediate
                    level and an advanced level. <br> 
                    BASIC LEVEL <br>
                    Within this level, the user is expected to know the basics of HTML which is used for structuring, and CSS for styling. <br> 
                    INTERMEDIATE LEVEL <br>
                    The student is expected to now begin learning JavaScript which is the language of the web. We shall cover the basics of
                    JavaScript with ES6 Functionalities. We shall however, not be learning any framework or library within this study. <br>

                    ADVANCED LEVEL: <br>
                    It is necessary to learn the basics of HTML, CSS and JavaScript. However, it is not sufficient, we have therefore chosen
                    a front-end framework, the most popular among them, Reactjs. This forms our teaching within this advanced level.



    
                </p>
    
                <hr class="mx-auto mt-3 w-full bg-black dark:bg-white" />
    
    
    
            </li>
    
            <!-- 9th card ends -->
    
            <!-- 10th card begins -->
            <li data-aos="flip-down" data-aos-delay="200"
                class="flex w-full flex-col items-center  py-6 px-4 shadow-xl  sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/backend.jpeg" alt="Explorer" class="mb-6 w-full" />
    
    
                <h3 class="text-start mt-2 text-2xl text-slate-900">
                    Backend Web Development
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
                    The Backend Development course aims to teach the backend development from
                    basic to advanced level. At the end of this course, the learner is expected to be able
                    to create reliable webservers and apis in node.js. The course takes a project driven
                    approach, where the lessons thought is used to build an actual project.
                    This advanced course on Node.js teaches learners how to create more reliable,
                    secured and robust applications in Node.js. With introduction to the MongoDB
                    database, the student gets to store user data, insert, update and delete data when
                    the need arises. Choosing a flexible database like MongoDB makes it a whole lot
                    easier.
                    
                </p>
    
                <hr class="mx-auto w-full mt-3 bg-slate-300" />
    
    
    
            </li>
    
            <!-- 10th card ends -->
    
    
    
        </ul>
    </section>
    
    <!-- 9th and 10th card section ends -->

    <!-- 11th and 12th cards -->
    
    <section data-aos="flip-down" data-aos-delay="300"
        class="widescreen:section-min-height tallscreen:section-min-height my-2 scroll-mt-12 p-4 w-full sm:text-base"
       >
        
        <ul
            class="mx-auto my-6 flex list-none flex-col items-center justify-center align-middle gap-8 lg:flex-row lg:text-2xl sm:text-base">
            <!-- 1st card -->
            <li data-aos="flip-up" data-aos-delay="200"
                class="flex w-full flex-col items-center  py-6 px-4 shadow-xl sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/video.png" alt="Explorer" class="mb-6 w-full" />
    
    
                <h3 class="text-start mt-2 text-2xl text-slate-900">
                    Complete Video Editing Course
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
                    Welcome to the video editing course! In this course, you will learn the fundamental principles of video editing,
                    including the technical skills and creative concepts necessary to produce high-quality videos. You will start with an
                    overview of video editing software and learn how to import, organize, and manage your footage. Then, you will dive into
                    the editing process itself, including how to assemble your clips, cut and trim your footage, and add transitions and
                    effects to enhance your video. You will also learn how to use color correction and grading techniques to achieve a
                    professional look and feel. Throughout the course, you will have the opportunity to practice your skills by completing
                    various video editing exercises and projects. By the end of the course, you will have the knowledge and skills necessary
                    to create engaging and visually appealing videos for a variety of purposes.
    
                </p>
    
                <hr class="mx-auto mt-3 w-full bg-black dark:bg-white" />
    
    
    
            </li>
    
            <!-- 11th card ends -->
    
            <!-- 12th card begins -->
            <li data-aos="flip-down" data-aos-delay="200"
                class="flex w-full flex-col items-center  py-6 px-4 shadow-xl  sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/music.jpg" alt="Explorer" class="mb-6 w-full" />
    
    
                <h3 class="text-start mt-2 text-2xl text-slate-900">
                    The Complete Music Production Course
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
                    
                </p>
    
                <hr class="mx-auto w-full mt-3 bg-slate-300" />
    
    
    
            </li>
    
            <!-- 12th card ends -->
    
    
    
        </ul>
    </section>
    
    <!-- 11th and 12th card section ends -->
    <!-- 13th and 14th cards -->
    
    <section data-aos="flip-down" data-aos-delay="300"
        class="widescreen:section-min-height tallscreen:section-min-height my-2 scroll-mt-12 p-4 w-full sm:text-base"
        >
        
        <ul
            class="mx-auto my-6 flex list-none flex-col items-center justify-center align-middle gap-8 lg:flex-row lg:text-2xl sm:text-base">
            <!-- 13th card -->
            <li data-aos="flip-up" data-aos-delay="200"
                class="flex w-full flex-col items-center py-6 px-4 shadow-xl sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/graphics.png" alt="Explorer" class="mb-6 w-full" />
    
    
                <h3 class="text-start mt-2 text-2xl text-slate-900">
                    Graphics Designing
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
                    Graphic Design is all around us! Words and pictures, the building blocks of graphic
                    design are the elements that carry the majority of the content in both the digital
                    world and the printed world. As graphic design becomes more visible and prevalent
                    in our lives, graphic design as a practice becomes more important in our culture.
                    Through visual examples, this course will teach you the fundamental principles of
                    graphic design. Beyond the basics, you will also learn tips and tricks to become a
                    professional graphics designer.
    
                </p>
    
                <hr class="mx-auto mt-3 w-full bg-black dark:bg-white" />
    
    
    
            </li>
    
            <!-- 13th card ends -->
    
            <!-- 14th card begins -->
            <li data-aos="flip-down" data-aos-delay="200"
                class="flex w-full flex-col items-center  py-6 px-4 shadow-xl sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/computing.jpg" alt="Explorer" class="mb-6 w-full" />
    
    
                <h3 class="text-start mt-2 text-2xl text-slate-900">
                    General Computing
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
                    By the end of this course, students will learn: <br>
                    • The use and relevance of computer in the 21st century <br>
                    • How the computer works <br>
                    • Fundamental applicable knowledge on using and operating the computer
                    
                </p>
    
                <hr class="mx-auto w-full mt-3 bg-slate-300" />
    
    
    
            </li>
    
            <!-- 14th card ends -->
    
    
    
        </ul>
    </section>
    
    <!-- 13th and 14th card section ends -->

    <!-- 15th and 16th cards -->
    
    <section data-aos="flip-down" data-aos-delay="300"
        class="widescreen:section-min-height tallscreen:section-min-height my-2 scroll-mt-12 p-4 w-full sm:text-base"
       >
    
        <ul
            class="mx-auto my-6 flex list-none flex-col items-center justify-center align-middle gap-8 lg:flex-row lg:text-2xl sm:text-base">
            <!-- 15th card -->
            <li data-aos="flip-up" data-aos-delay="200"
                class="flex w-full flex-col items-center py-6 px-4 shadow-xl sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/wordpress.png" alt="Explorer" class="mb-6 w-full" />
    
    
                <h3 class="text-start mt-2 text-2xl text-slate-900">
                    Web Development with wordpress
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
                    At the end of the class session, students will be able to independently: <br>
                    1. Create a general website with modern features for desktop, tablets and mobile
                    devices. <br>
                    2. Create an E- commerce Website to sell products, services etc. <br>
                    3. Create a Forum based website for any community identity. <br>
                    4. Create a chat website. <br>
                    5. Create a website for bookings of services. <br>
                    6. Create a news website like CNN and other news site <br>
                    7. Create a membership website with free and paid levels. <br>
                    8. Create a crowd funding website <br>
                    9. Set up professional email addresses and add to your Gmail account from your
                    website name. <br>
                    
                    10. Secure your website via Premium Domain management system and Ssl certifi-
                    cate on diverse levels <br>
                
    
                </p>
    
                <hr class="mx-auto mt-3 w-full bg-black dark:bg-white" />
    
    
    
            </li>
    
            <!-- 15th card ends -->
    
            <!-- 16th card begins -->
            <li data-aos="flip-down" data-aos-delay="200"
                class="flex w-full flex-col items-center  py-6 px-4 shadow-xl  sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/forex1.jpg" alt="Explorer" class="mb-6 w-full" />
    
    
                <h3 class="text-start mt-2 text-2xl text-slate-900">
                    Forex Trading
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
    
                </p>
    
                <hr class="mx-auto w-full mt-3 bg-slate-300" />
    
    
    
            </li>
    
            <!-- 16th card ends -->
    
    
    
        </ul>
    </section>
    
    <!-- 15th and 16th card section ends -->

    <!-- 17th and 18th cards -->
    
    <section data-aos="flip-down" data-aos-delay="300"
        class="widescreen:section-min-height tallscreen:section-min-height my-2 scroll-mt-12 p-4 w-full sm:text-base"
       >
    
        <ul
            class="mx-auto my-6 flex list-none flex-col items-center justify-center align-middle gap-8 lg:flex-row lg:text-2xl sm:text-base">
            <!-- 17th card -->
            <li data-aos="flip-up" data-aos-delay="200"
                class="flex w-full flex-col items-center py-6 px-4 shadow-xl  sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/product.jpeg" alt="Explorer" class="mb-6 w-full" />
    
    
                <h3 class="text-start mt-2 text-2xl text-slate-900">
                    Product Management
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500 px-2">
                    The demand for Product Management is increasing at an insane rate. More and
                    more companies are finally figuring out how important this discipline and this role is
                    to their success.
                    
                    But how exactly do you get into the field? There aren't any degrees in Product Man-
                    agement & there are no certifications. Most Product Managers get into the field
                    
                    through luck or connections. That ends here - we'll get you up to date on all the skills
                    you need to learn Product Management and have the best chance at getting the job
                    you want. There's no more ambiguity to it. We'll show you what you need to know and
                    what you have to do.
                    
                    Students aren't required to know anything beforehand - we'll teach you the funda-
                    mentals, how to apply them, how to develop into an advanced product manager, and
                    
                    finally how to maximize your chances to get a job as a Product Manager.
                    
    
                    
    
    
                </p>
    
                <hr class="mx-auto mt-3 w-full bg-black dark:bg-white" />
    
    
    
            </li>
    
            <!-- 17th card ends -->
    
            <!-- 18th card begins -->
            <li data-aos="flip-down" data-aos-delay="200"
                class="flex w-full flex-col items-center  py-6 px-4 shadow-xl sm:w-1/3 sm:text-base">
                <img src="./images/courseImg/Prince2-Project-Management.jpeg" alt="Explorer" class="mb-6 w-full" />
    
    
                <h3 class="text-start mt-2 text-2xl text-slate-900">
                    Project Management
                </h3>
                <p class="mt-2 md:text-xl lg:text-base  text-start sm:text-base text-slate-500  px-2">
                    Project management is an exciting profession. Moving from one project to another,
                    a project manager continually faces new businesses, new processes and systems,
                    new people, and new situations. Such a dynamic environment helps you learn more
                    all the time, and advances your skills than traditional jobs.
                    
                    Developing the ability to structure chaos into a project with solid project manage-
                    ment knowledge and skills, will make your endeavors more successful whether it's
                    
                    the performance of a large organization, your career progression, a new business
                    start-up, or even your personal life projects!
                    It’s no surprise that the demand for project managers is expected to be substantial in
                    
                    the years to come. Our program is carefully designed to help anyone build knowl-
                    edge and skills, grow the needed confidence, and start managing projects!
    
                </p>
    
                <hr class="mx-auto w-full mt-3 bg-slate-300" />
    
    
    
            </li>
    
            <!-- 18th card ends -->
    
    
    
        </ul>
    </section>
    
    <!-- 17th and 18th card section ends -->

 <%- include("partials/footer"); -%>

    
    
    
    
    
    
    
    
    
    
    
   
    <a href="#" class="back-to-top d-flex  align-items-center justify-content-center"><i
            class="fas fa-arrow-circle-up"></i></a>

<script src="js/preload.js"></script>
 <!-- ANIMATE ON SCROLL JS CDN -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- ANIMATE ON SCROLL INIT -->
    <script defer>
        AOS.init();
    </script>
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1908748432791340');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=1908748432791340&ev=PageView&noscript=1" /></noscript>
<!-- End Meta Pixel Code -->









</body>
</html>
