<%- include("partials/primary_header"); -%>
 <title>TechUni : Our Faculties</title>

<main class="mx-auto max-w-4xl">
    <h2 class="text-3xl text-purple-900 sm:text-4xl my-6 text-center font-extrabold">OUR FACULTIES</h2>
    <section id="hero"
        class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex scroll-mt-40 flex-col-reverse items-center justify-center gap-8 p-6 sm:flex-row">
        <article class="sm:w-1/2">
            <h2 class="max-w-md text-start text-xl font-bold text-slate-900  sm:text-left sm:text-4xl">
                Fanen Iorwuese
               
            </h2>
            <p class="mt-4 max-w-md text-justify text-lg text-slate-700  sm:text-left">
            Fanen is an astute Statistician and Data Analyst with a Bachelor's degree in Statistics and strong computational
            background. At Tech Uni, Fanen is the Data Analysis Faculty Lead.
            He is well versed in the field of business and statistical data analysis and interpretation using SPSS, Excel, Minitab,
            Powerbi, Tableau and Python. He is also a creative, independent, and detail-oriented graphic designer with more than
            five years of experience in digital brand management, logo design and layout design.
            </p>
            <p class="mt-4 max-w-md text-justify text-lg text-slate-700 sm:text-left">
                Courses Fanen teaches: Data Analysis (Fundamentals, Intermediate and Advanced), General Computing, Graphics Design.
            </p>
        </article>
        <img class="w-full rounded-2xl sm:w-1/3" src="./images/faculties/fanen.jpeg" alt="" />
    </section>

    <hr class="mx-auto w-1/2 bg-black dark:bg-white" />

    
        <section id=""
            class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex scroll-mt-40 flex-col-reverse items-center justify-center gap-8 p-6 sm:flex-row-reverse">
            <article class="w-full sm:w-1/2">
                <h2 class="max-w-md text-start text-2xl font-bold text-slate-900  sm:text-left sm:text-4xl">
                    Chekwube Onwuemene
                   
                </h2>
                <p class="mt-4 max-w-md text-justify text-lg text-slate-700 sm:text-left">
                    Chekwube is a successful Digital Marketer , Web Developer and App developer with a Bachelor's degree in Education and
                    Communication. At Tech Uni, Chekwube is the Web Development and Mobile App Lead.
                    He is well versed in the web development and app design for digital marketing.
                </p>
                <p class="mt-4 max-w-md text-justify text-lg text-slate-700  sm:text-left">
                    Courses Chekwube teaches: Web Development Using WordPress and Mobile App Development
                </p>
            </article>
            <img class="w-full sm:w-1/3 rounded-2xl" src="./images/faculties/Chekwus.jpeg" alt="" />
        </section>
    
        <hr class="mx-auto w-1/2 bg-black dark:bg-white" />

        <section id="hero"
            class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex scroll-mt-40 flex-col-reverse items-center justify-center gap-8 p-6 sm:flex-row">
            <article class="sm:w-1/2">
                <h2 class="max-w-md text-start text-xl font-bold text-slate-900  sm:text-left sm:text-4xl">
                    Dr. Chimdindu Ugwuanyi
        
                </h2>
                <p class="mt-4 max-w-md text-justify text-lg text-slate-700 sm:text-left">
                    Chimdindu Peace Ugwuanyi is a medical doctor, research writer and educator. Skilled in clinical research, she works as a
                    research assistant in African Research Group of Oncology, Nigeria and a part time post graduate diploma student in
                    Scientific Writing and Medical Journalism at James Lind Institute.
                </p>
                <p class="mt-4 max-w-md text-justify text-lg text-slate-700 sm:text-left">
                At Tech Uni, Chimdindu is the Technical Writing Lead and will be teaching 'Technical Writing - Grants, Proposals, Bids',
                Copywriting and E-books Publishing for Professionals.
                </p>
            </article>
            <img class="w-full rounded-2xl sm:w-1/2" src="./images/faculties/Chimdindu.jpeg" alt="" />
        </section>
        
        <hr class="mx-auto w-1/2 bg-black dark:bg-white" />
        
        <main class="mx-auto max-w-4xl">
            <section id=""
                class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex scroll-mt-40 flex-col-reverse items-center justify-center gap-8 p-6 sm:flex-row-reverse">
                <article class="w-full sm:w-1/2">
                    <h2 class="max-w-md text-start text-2xl font-bold text-slate-900 sm:text-left sm:text-4xl">
                        Maurice Odo
        
                    </h2>
                    <p class="mt-4 max-w-md text-justify text-lg text-slate-700 sm:text-left">
                        Maurice is a Full-stack Web Developer and tech tutor. After studying advanced web development with PHP, he has worked on
                        various individual and team projects, and is proficient in building web and software solutions for companies.
                    </p>
                    <p class="mt-4 max-w-md text-justify text-lg text-slate-700 sm:text-left">
                        At Tech Uni, Maurice is the Software Development Lead and will be teaching Front-end Development and Back-end
                        Development.
                    </p>
                </article>
                <img class="w-full sm:w-1/3 rounded-2xl" src="./images/faculties/Maurice.jpeg" alt="" />
            </section>
        
            <hr class="mx-auto w-1/2 bg-black dark:bg-white" />
            <section id="hero"
                class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex scroll-mt-40 flex-col-reverse items-center justify-center gap-8 p-6 sm:flex-row">
                <article class="sm:w-1/2">
                    <h2 class="max-w-md text-start text-xl font-bold text-slate-900  sm:text-left sm:text-4xl">
                        Abdulsalam Wasiu Adeolu
            
                    </h2>
                    <p class="mt-4 max-w-md text-justify text-lg text-slate-700 sm:text-left">
                        Wasiu is a digital marketing trainer with over 10 years of industry experience. With a Bachelor's degree in Computer
                        Science, Wasiu has worked with companies such as NTA Star Tv Network (Startimes), Sweet Sensations and Confectionery,
                        and Subwan Ventures, to execute digital marketing campaigns via channels including search engine optimization, social
                        media marketing, email marketing, and content marketing.
                    </p>
                    <p class="mt-4 max-w-md text-justify text-lg text-slate-700 sm:text-left">
                        At Tech Uni, he is the Digital Marketing Lead and will be taking the Fundamentals of Digital Marketing and Advanced
                        Digital Marketing Courses.
                    </p>
                </article>
                <img class="w-full rounded-2xl sm:w-1/3" src="./images/faculties/Wasiu.jpeg" alt="" />
            </section>
            
            <hr class="mx-auto w-1/2 bg-black dark:bg-white" />
            
            <main class="mx-auto max-w-4xl">
                <section id=""
                    class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex scroll-mt-40 flex-col-reverse items-center justify-center gap-8 p-6 sm:flex-row-reverse">
                    <article class="w-full sm:w-1/2">
                        <h2 class="max-w-md text-start text-2xl font-bold text-slate-900 sm:text-left sm:text-4xl">
                            Abimbola Adewuyi
                            
            
                        </h2>
                        <p class="mt-4 max-w-md text-justify text-lg text-slate-700  sm:text-left">
                            Abimbola is a digital content creator and a writer. She helps brands creates effective marketing contents and also helps
                            individuals execute book ideas.
                            Abimbola writes across industries, serving companies in the health, tech and business sectors.
                            
                        </p>
                        <p class="mt-4 max-w-md text-justify text-lg text-slate-700  sm:text-left">
                            At Tech Uni, Abimbola is our PR and Outreach Lead, facilitating external collaborations and partnerships. She is also  responsible for facilitating registration and onboarding of students and creating a smooth
                            working relationship between students and faculty.
                            
                        </p>
                    </article>
                    <img class="w-full sm:w-1/3 rounded-2xl" src="./images/faculties/Abimbola.jpeg" alt="" />
                </section>
            
                <hr class="mx-auto w-1/2 bg-black dark:bg-white" />
                <section id="hero"
                    class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex scroll-mt-40 flex-col-reverse items-center justify-center gap-8 p-6 sm:flex-row">
                    <article class="sm:w-1/2">
                        <h2 class="max-w-md text-start text-xl font-bold text-slate-900  sm:text-left sm:text-4xl">
                            Victory Iloh
                            
                
                        </h2>
                        <p class="mt-4 max-w-md text-justify text-lg text-slate-700 sm:text-left">
                            Victory is a certified virtual assistant passionate about tech with interests in HTML and CSS. She has worked at
                            CareerEdu as Admin and will be bringing her people skills to Tech Uni.
                           
                        </p>
                        <p class="mt-4 max-w-md text-justify text-lg text-slate-700  sm:text-left">
                           
                            
                        </p>
                    </article>
                    <img class="w-full rounded-2xl sm:w-1/3" src="./images/faculties/Victory.jpeg" alt="" />
                </section>
                
                <hr class="mx-auto w-1/2 bg-black dark:bg-white" />
                
              
                    <section id=""
                        class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex scroll-mt-40 flex-col-reverse items-center justify-center gap-8 p-6 sm:flex-row-reverse">
                        <article class="w-full sm:w-1/2">
                            <h2 class="max-w-md text-start text-2xl font-bold text-slate-900 sm:text-left sm:text-4xl">
                                Victor 'Vee' Okoye
                
                            </h2>
                            <p class="mt-4 max-w-md text-justify text-lg text-slate-700  sm:text-left">
                            Victor has close to a decade of digital music production experience and specializes in Afrobeats, Hip Hop, Drill and
                            Trap music. He serves as the Senior Producer at Ala Africa Music and has worked with stars like Jeriq, Slow Dog, Aguero
                            Banks. A widely acclaimed producer, Vee has won several music production awards - PMAN award, Enugu State Producer of
                            the Year 2017.
                            </p>
                            <p class="mt-4 max-w-md text-justify text-lg text-slate-700 sm:text-left">
                                At Tech Uni,  Vee will be teaching the 'Complete Music Production Course with Cubase' - a 4-week intensive,
                                practical-based course that will get you banging out Afrobeats hits in due time.
                            </p>
                        </article>
                        <img class="w-full sm:w-1/3 rounded-2xl" src="./images/faculties/Vee.jpeg" alt="" />
                    </section>
                
                    <hr class="mx-auto w-1/2 bg-black dark:bg-white" />
                    <section id="hero"
                        class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex scroll-mt-40 flex-col-reverse items-center justify-center gap-8 p-6 sm:flex-row">
                        <article class="sm:w-1/2">
                            <h2 class="max-w-md text-start text-xl font-bold text-slate-900 sm:text-left sm:text-4xl">
                                Dayo Bamgbose
                                
                    
                            </h2>
                            <p class="mt-4 max-w-md text-justify text-lg text-slate-700 sm:text-left">
                                Dayo is a certified audio and video editor who specializes in telling amazing corporate and personal stories using
                                videos. He has trained several video editors in the last two years and have handled visual contents for brands like
                                Jagermeifer, Monkey Shoulder, Steam Education and Oh TV Media.
                                
                            </p>
                            <p class="mt-4 max-w-md text-justify text-lg text-slate-700  sm:text-left">
                                At Tech Uni,  Dayo will be teaching our 'Complete Video Editing Course' over 4 weeks to help you create mind-blowing
                                video content.
                               
                            </p>
                        </article>
                        <img class="w-full rounded-2xl sm:w-1/3" src="./images/faculties/Dayo.jpeg" alt="" />
                    </section>
                    
                    <hr class="mx-auto w-1/2 bg-black dark:bg-white" />

                    <section id="hero"
                        class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex scroll-mt-40 flex-col-reverse items-center justify-center gap-8 p-6 sm:flex-row">
                        <article class="sm:w-1/2">
                            <h2 class="max-w-md text-start text-xl font-bold text-slate-900 sm:text-left sm:text-4xl">
                                Precious Anagwu-Joshua
                                
                    
                            </h2>
                            <p class="mt-4 max-w-md text-justify text-lg text-slate-700  sm:text-left">
                                Precious is an Lead Product Designer and a Full Stack low code developer with years of experience building scalable
                                products and have trained many UI/UX designers both locally and internationally.

                                She comes from a medical background as a Research Nurse using Python, SPSS, Maxqda, Excel, Tableau which she now
                                transfers as a knowledge when getting students grounded in Data Design, UX reseaech, UX Audit and competitive analysis.

                                She has a track record of offering unflinching student support and some of her students who started out as complete tech
                                novice have have gotten job with foreign companies.
                               
                            </p>
                            <p class="mt-4 max-w-md text-justify text-lg text-slate-700  sm:text-left">
                                At Tech Uni  Precious will be handling our UI/UX Design Courses -
                                 Fundamentals of UI/UX Design and
                                 Advanced UI/UX Design.
                                
                            </p>
                        </article>
                        <img class="w-full rounded-2xl sm:w-1/2" src="./images/faculties/Precious.jpeg" alt="" />
                    </section>

                    <section id="hero"
                        class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex scroll-mt-40 flex-col-reverse items-center justify-center gap-8 p-6 sm:flex-row">
                        <article class="sm:w-1/2">
                            <h2 class="max-w-md text-start text-xl font-bold text-slate-900 sm:text-left sm:text-4xl">
                                Hossana Chikwado
                                
                    
                            </h2>
                            <p class="mt-4 max-w-md text-justify text-lg text-slate-700  sm:text-left">
                                 Chikwado is the Forex Trading Lead Faculty at Tech Uni 🎓. An experienced and profitable trader, he is the Founder of Chikwado Trading Academy and has taught several successful traders over the years. 
                                
                               
                            </p>
                            <p class="mt-4 max-w-md text-justify text-lg text-slate-700  sm:text-left">
                                At Tech Uni 🎓 Chikwado help demystify trading and help young Africans to master this profitable skill.
                    
 
                               
                                
                            </p>
                        </article>
                        <img class="w-full rounded-2xl sm:w-1/3" src="./images/faculties/Chikwado.jpeg" alt="" />
                    </section>


                   

                   <main class="mx-auto max-w-4xl">
                        <section id=""
                            class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex scroll-mt-40 flex-col-reverse items-center justify-center gap-8 p-6 sm:flex-row-reverse">
                            <article class="w-full sm:w-1/2">
                                <h2 class="max-w-full text-start text-2xl font-bold text-slate-900 sm:text-left sm:text-4xl">
                                    Dr Kelvin Alaneme
                                    
                    
                                </h2>
                                <p class="mt-4 max-w-md text-justify text-lg text-slate-700  sm:text-left">
                                    Kelvin is a medical doctor and tech entrepreneur. One of GBR's 100 Leaders of Tomorrow, he is the Founder/CEO of
                                    CareerEdu, Nigeria's largest relocation platform serving a community of over 40,000 persons. CareerEdu is the parent
                                    company of Tech Uni.
                                    
                                </p>
                                <p class="mt-4 max-w-md text-justify text-lg text-slate-700  sm:text-left">
                                    At Tech Uni, Kelvin is responsible for recruiting exceptional tech talents to the Faculty, establishing collaborations
                                    and partnerships, providing guidance and leadership. He is determined to see Tech Uni become Africa's leading digital
                                    learning platform.
                                    
                                </p>
                            </article>
                            <img class="w-full sm:w-1/2 rounded-2xl" src="./images/faculties/Dr Kelvin.jpeg" alt="" />
                        </section>
                    
                       

                      <%- include("partials/footer"); -%>

       
        
    
    
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                       
                        <a href="#" class="back-to-top d-flex  align-items-center justify-content-center"><i
                                class="fas fa-arrow-circle-up"></i></a>
                        
                        <script src="js/preload.js"></script>

    </main>

    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1908748432791340');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=1908748432791340&ev=PageView&noscript=1" /></noscript>
    <!-- End Meta Pixel Code -->

    </body>
    </html>
