<%- include("partials/primary_header"); -%>
 <title>TechUni</title>
 <style>
  .main-lower {
  height: 100vh;
  width: 100%;
}
.wrapper,
.slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide {
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.slide .image {
  height: 100%;
  width: 100%;
  object-fit:scale-down;
  background-color: #000;
}
.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}
.image-data span.text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.image-data h2 {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
  margin-top: 3rem;
}
a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 0.375rem;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}
a.button:hover {
  color: #fff;
  background-color: #7e22ce;
}

/* swiper button css */
.nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.nav-btn:hover {
  background: #7e22ce;
}
.swiper-button-next {
  right: 50px;
}
.swiper-button-prev {
  left: 50px;
}
.nav-btn::before,
.nav-btn::after {
  font-size: 25px;
  color: #fff;
}
.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}
.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #7e22ce;
}

@media screen and (max-width: 768px) {
 .nav-btn {
    visibility: visible;
    margin: 5rem -2rem 1rem;
   
  }
 
  .swiper-pagination-bullet {
    visibility: visible;
  }
.image-data h2 {
    font-size: 30px;

}
}

   
 </style>
 <header class=" z-50 bg-papayawhip-light  font-Header text-black   mx-auto">
        <section class="mx-auto flex max-w-full items-center justify-center p-4">
            
            <div class=" text-center     shadow-xl w-full  p-3 rounded-full">
                
                <nav class=" space-x-8 text-base md:block" aria-label="main">
                  <p class=" text-md sm:text-xl font-Header font-bold text-violet-800"> <i class="bi bi-arrow-down-right-circle p-3 rounded-xl font-bold text-2xl text-violet-800"></i> Next Cohort Begins on June 5th <i class="hidden bi bi-arrow-down-left-circle p-3 rounded-xl font-bold text-2xl text-violet-800"></i> </p> 
                   
            </div>
        </section>
        
       
    </header>
    <main class=" w-full">
       <!-- <a  href="https://Store.techuni.io"
                    class="my-3 mx-6 z-10 text-white hover:bg-violet-900 bg-violet-700 p-6 flex justify-center items-center sm:w-1/2 w-72  rounded-md shadow-xl    text-xl" target="_blank"> <i class="fas fa-star"></i>
                   NOTIFICATION: <br> Next Cohort Starts April 10th </a>  -->
                
        <section id="hero"
            class="widescreen:section-min-height  tallscreen:section-min-height  mt-6 flex scroll-mt-40 flex-col z-50 items-center  rounded-xl justify-between   gap-4  sm:flex-row">
             <div  id="particles-js"></div>
                  

            <article class=" flex  flex-col sm:w-1/2 w-full  px-3  shadow-3xl z-10" data-aos="zoom-out" data-aos-delay="400">

                 
               
                
                <!-- <a class="navbar-brand" href="#"><img src="./images/TUL.jpg" alt="" class="" width="150px"></a> -->
                <!-- <h2 class="max-w-md text-start text-4xl  text-slate-800 font-extrabold dark:text-white sm:text-left sm:text-5xl">
                    <hr class="mx-20 h-1 font-extrabold text-lg w-32 rounded-xl  bg-slate-300 " />
                   Tech<span class="text-indigo-700">Uni</span> 
                </h2> -->
                
               
                <h2 class="mt-6 font-bold font-Body w-full intro  sm:py-3 text-center     sm:text-start  text-violet-800">
                    Let's Help Upskill Your Tech Skills
                  <!-- <span class="text-violet-800">Let's</span>  Help You <span class="text-violet-800">Upskill </span> Your <span class="text-violet-800">Tech</span>  skills -->
                </h2>

                
                
                   
               
                <p class="py-3 text-xl text-center rounded-xl my-3 text-slate-600 font-Body   border-solid border-0 w-full  sm:text-justify ">
                    Tech Uni  is an online digital platform that will accelerate tech education in Africa with live training and courses.
                    <!-- Courses are practical, implementation-based, taught by experienced, dedicated faculty and designed to help accelerate
                      tech adoption, reduce unemployment and pull young people out of multi-dimensional poverty. Each course is packaged as a
                    40-hour live session over 4 weeks (10 hour per week) with both theory and practical sessions. <br> <br></p> -->

                
                
                
                  
                
                <!-- <img src="./images/TechUni Icon@300x.png" alt="" class="my-6 mx-3 " width="100px"> -->
                 <div class="flex flex-row gap-4 items-start justify-start">
                    <a href="https://web.facebook.com/techuniglobal" class="mx-3 mt-2 text-3xl text-purple-800 shadow-3xl shadow-black"><i class="fab fa-facebook"></i></a>
            <a href="https://instagram.com/techuni_?igshid=YmMyMTA2M2Y=" class="mx-3 mt-2 text-3xl text-violet-800 shadow-3xl shadow-black"><i class="fab fa-instagram"></i></a>

                     <a  href="https://Store.techuni.io"
                    class=" text-white bg-violet-800 p-3 w-1/2 sm:w-36 rounded-md shadow-xl   text-center text-md"  target="_blank"> 
                   Register <i class="fas fa-chevron-circle-right"></i></a> 
                  
                 </div>
                 
               
               


                    

                
               
        
            </article>
            <div class="owl-carousel owl-theme w-full sm:w-1/2 rounded-3xl z-10" data-aos="zoom-out" data-aos-delay="400">
     <div class="item ">
        <img class="car-img" src="images/intro/slider1.png"  alt="">
    </div>
    <div class="item">
        <img src="images/intro/slider2.png" alt="">
    </div>
     <div class="item">
        <img class="car-img" src="images/intro/slider3.png" alt="">
        
    </div>
     <div class="item">
        <img  class="car-img" src="images/intro/slider4.png" alt="">
    </div>
     <div class="item">
        <img class="car-img" src="images/intro/slider7.png" alt="">
    </div>
     <div class="item">
        <img  class="car-img" src="images/intro/slider6.png" alt="">
    </div>
    
    
</div>





           
        <!-- <img class="w-full sm:w-1/2   rounded-3xl z-10" src="images/BGC-HOME.png" alt="hug" data-aos="zoom-in" data-aos-delay="400"  /> -->
            <!--  -->
        </section>
    
        <!-- <hr class="mx-auto w-1/2 mb-3 bg-black dark:bg-white" /> -->

        <!-- <hr class="mx-auto w-1/2 bg-black dark:bg-white" /> -->
        <div class=" p-4 more"></div>

        <section
        id="hero"
        data-aos="fade-up"
        class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex w-full scroll-mt-40 flex-col items-center justify-center gap-6 rounded-xl bg-violet-800 p-6 sm:flex-row-reverse md:mt-3"
      >
        <article class="w-full sm:w-1/2 font-Body">
          <h2
            class="max-w-md text-start text-2xl font-extrabold text-slate-50 sm:text-left sm:text-5xl"
          >
            WHAT IS TECHUNI?
          </h2>
          <p
            class="mt-4 max-w-full text-start text-lg text-slate-50 sm:text-left" data-aos="zoom-in-down" data-aos-delay="400"
          >
            <i class="bi bi-check-circle text-3xl text-green-500"></i>
             Tech Uni  is an online digital platform that will accelerate tech education in Africa with live training and courses.
            
          </p>
          <p
            class="mt-4 max-w-md text-start text-lg text-slate-50 sm:text-left" data-aos="zoom-in-up" data-aos-delay="600"
          >
            <i class="bi bi-check-circle text-3xl text-green-500"></i>
           Courses are practical, implementation-based, taught by experienced, dedicated faculty and designed to help accelerate tech adoption, reduce unemployment and pull young people out of multi-dimensional poverty.
          </p>
          <p
            class="mt-4 max-w-md text-start text-lg text-slate-50 sm:text-left" data-aos="zoom-in-left" data-aos-delay="800"
          >
            <i class="bi bi-check-circle text-3xl text-green-500"></i>
           Each course is packaged as a 40-hour live session over 4 weeks (10 hour per week) with both theory and practical sessions.
          </p>
        </article>
        <img class="w-full sm:w-1/2" data-aos="zoom-in-right" data-aos-delay="400" src="images/Hero-people-min-1024x614.png" alt="hug" />
      </section>

        
              <section id=""
            class=" p-6 bg-papayawhip-light rounded-full font-Body">
            <h2 class="mb-6 text-center font-Body text-3xl text-violet-800 font-bold  sm:text-5xl" >
                What Do <span class="mt-12">We</span> Offer ?
            </h2>
            <ul class="mx-auto my-12 flex list-none flex-col items-center gap-8 sm:flex-row">
                <li data-aos="fade-down" data-aos-delay="400"
                    class="flex w-full flex-col items-center rounded-3xl  py-6 px-2  sm:w-5/6">
                   
                    <i class="bi bi-boxes text-5xl text-violet-800"></i>
                    <h3 class="text-center text-2xl font-bold text-slate-900 my-3">
                        In-demand Skills
                    </h3>
                    <p class="mt-2 text-center text-xl text-slate-500  sm:block">
                        We Provide You With Skillsets That Are Highly Sought After
                    </p>
                    
                </li>
                <li data-aos="fade-up" data-aos-delay="400"
                    class="flex w-full flex-col items-center rounded-3xl  py-6 px-2 sm:w-5/6">
                    <i class="bi bi-patch-check text-5xl text-violet-800"></i>
                    <h3 class="text-center text-2xl font-bold text-slate-900 my-3">
                        Great Tutors
                    </h3>
                    <p class="mt-2  text-center text-xl text-slate-500  sm:block">
                        Our Faculties are good at and passionate about what they do. All geared towards providing you with the best knowledge.
                    </p>
                    
                </li>
                 <li data-aos="fadeIn" data-aos-delay="400"
                    class="flex w-full flex-col items-center rounded-3xl  py-6 px-2 sm:w-5/6">
                    <i class="bi bi-alarm text-5xl text-violet-800"></i>
                    <h3 class="text-center text-2xl my-3 font-bold text-slate-900">
                        Flexible Learning System
                    </h3>
                    <p class="mt-2  text-center text-xl text-slate-500  sm:block">
                        We take cognisanse of the fact that our students come from various walks of life and so we provide a flexible system of learning to ensure they meet up.
                    </p>
                    
                </li>

                
                

            </ul>
            <ul class="mx-auto my-12 flex list-none flex-col items-center gap-8 sm:flex-row">
                <li data-aos="fade-down" data-aos-delay="400"
                    class="flex w-full flex-col items-center rounded-3xl  py-6 px-2  sm:w-5/6">
                   
                    <i class="bi bi-briefcase text-5xl text-violet-800"></i>
                    <h3 class="text-center text-2xl font-bold text-slate-900 my-3">
                        Job Oppurtunities
                    </h3>
                    <p class="mt-2 text-center text-xl text-slate-500  sm:block">
                        We are not just satisfied with teaching you, we also want to see you trying out these skills by applying for various roles and in various companies. We post jobs on our platform and we are building techjobber to ensure we make your dreams come true.
                    </p>
                    
                </li>
                
                 <li data-aos="fadeIn" data-aos-delay="400"
                    class="flex w-full flex-col items-center rounded-3xl  py-6 px-2 sm:w-5/6">
                    <i class="bi bi-people text-5xl text-violet-800"></i>
                    <h3 class="text-center text-2xl my-3 font-bold text-slate-900">
                        Great Community
                    </h3>
                    <p class="mt-2  text-center text-xl text-slate-500  sm:block">
                        We Know the importance of Community and Collaboration, we have a community where our students discuss, share ideas and help each other grow.
                    </p>
                    
                </li>

                <li data-aos="fade-up" data-aos-delay="400"
                    class="flex w-full flex-col items-center rounded-3xl  py-6 px-2 sm:w-5/6">
                    <i class="bi bi-mortarboard text-5xl text-violet-800"></i>
                    <h3 class="text-center text-2xl font-bold text-slate-900 my-3">
                        Course Cerification
                    </h3>
                    <p class="mt-2  text-center text-xl text-slate-500  sm:block">
                        We grant Certificates at the end of the courses as a proof of enrolment and excellence in the discipline.
                    </p>
                    
                </li>
                

            </ul>
        </section>

         <section
        id=""
        data-aos="fade-up"
        class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex w-full scroll-mt-40 flex-col items-center justify-center gap-6 rounded-xl  p-6 sm:flex-row md:mt-3"
      >
        <article class="w-full sm:w-1/2 font-Body">
          <h2
            class="max-w-md text-center  font-extrabold intro text-violet-800 sm:text-left" data-aos="fade-up-right" data-aos-delay="500"
          >
            THE W<i class="bi bi-globe-europe-africa underline"></i>RLD <br> AT YOUR FINGERTIPS
          </h2>
          <p
            class="mt-4 max-w-full text-center text-lg text-black sm:text-left" data-aos="fade-down-left" data-aos-delay="700"
          >
           
             Our Dream is to make possible the deepest ideas in your mind. We provide the avenue to make them visible and attainable.
            
          </p>
         
        </article>
        <img class="w-full sm:w-1/2" src="images/ark2.svg" alt="hug" />
      </section>

        
<h1 class="mb-6 text-center font-Body text-3xl text-violet-800 font-bold my-24  sm:text-5xl">Trending <span class="mt-3"><a class="mt-3 sm:text-3xl hover:underline" href="/courses">See all</a></span></h1>
    

       <section class="main-lower swiper mySwiper">
      <div class="wrapper swiper-wrapper">
        <div class="slide swiper-slide">
          <img src="images/faculties/fanen.jpeg" alt="" class="image" />
          <div class="image-data">
            <span class="text"></span>
            <h2>
               <br />
              Data Analysis 
            </h2>
            <a href="/courses" class="button">About Us</a>
          </div>
        </div>
        <div class="slide swiper-slide">
          <img src="images/faculties/Chekwus.jpeg" alt="" class="image" />
          <div class="image-data">
            <span class="text"></span>
            <h2>
              Mobile App Development & <br />
              Wordpress
            </h2>
            <a href="/courses" class="button">About Us</a>
          </div>
        </div>
        <div class="slide swiper-slide">
          <img src="images/faculties/Maurice.jpeg" alt="" class="image" />
          <div class="image-data">
            <span class="text"></span>
            <h2>
              Front-end & Backend <br /> Web Development
    
            </h2>
            <a href="#" class="button">About Us</a>
          </div>
        </div>
        <div class="slide swiper-slide">
          <img src="images/faculties/Precious.jpeg" alt="" class="image" />
          <div class="image-data">
            <span class="text"></span>
            <h2 class="mt-6">
              UI/UX <br /> Designing
              
            </h2>
            <a href="/courses" class="button">About Us</a>
          </div>
        </div>
        <div class="slide swiper-slide">
          <img src="images/faculties/Chikwado.jpeg" alt="" class="image" />
          <div class="image-data">
            <span class="text"></span>
            <h2>
              Forex Trading <br />
            
            </h2>
            <a href="#" class="button">About Us</a>
          </div>
        </div>
        <div class="slide swiper-slide">
          <img src="images/faculties/Chimdindu.jpeg" alt="" class="image" />
          <div class="image-data">
            <span class="text"></span>
            <h2>
              E-book Publishing & <br /> Copyrighting
              
            </h2>
            <a href="/courses" class="button">About Us</a>
          </div>
        </div>
        <div class="slide swiper-slide">
          <img src="images/faculties/Dayo.jpeg" alt="" class="image" />
          <div class="image-data">
            <span class="text"></span>
            <h2>
              Video Editing<br />
              
            </h2>
            <a href="/courses" class="button">About Us</a>
          </div>
        </div>
        <div class="slide swiper-slide">
          <img src="images/faculties/Vee.jpeg" alt="" class="image" />
          <div class="image-data">
            <span class="text"></span>
            <h2>
              Music Production <br />
              
            </h2>
            <a href="/courses" class="button">About Us</a>
          </div>
        </div>
        <div class="slide swiper-slide">
          <img src="images/faculties/Wasiu.jpeg" alt="" class="image" />
          <div class="image-data">
            <span class="text"></span>
            <h2>
              Digital Marketing <br />
              
            </h2>
            <a href="/courses" class="button">About Us</a>
          </div>
        </div>
        
      </div>

      <div class="swiper-button-next nav-btn"></div>
      <div class="swiper-button-prev nav-btn"></div>
      <div class="swiper-pagination"></div>
    </section>


    <section class="container_2  bg-violet-800 flex justify-between py-6 flex-col text-center text-white">
        <div class="aside text-2xl sm:text-4xl py-3"> <i class="bi bi-alarm"></i> Start Your Journey Today</div>
       
        

        <div class="email-content py-3">
          <p>Register now to begin your tech journey!</p>

          <div class=" my-12 button">
             <a  href="https://Store.techuni.io"
                    class="button bg-white text-violet-800 p-3 w-1/2 sm:w-36 rounded-md shadow-xl   text-center text-md"  target="_blank"> 
                   Register</a> 
           
            
          </div>
        </div>
      </section>

      <!-- Coming soon section ends -->

       <section
        id=""
        data-aos="fade-up"
        class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex w-full scroll-mt-40 flex-col items-center justify-center gap-6 rounded-xl my-24   p-6 sm:flex-row-reverse md:mt-3"
      >
        <article class="w-full sm:w-1/2 font-Body"> 
          <h2
            class="w-full text-center     font-extrabold intro text-violet-800 sm:text-left" data-aos="zoom-in-up" data-aos-delay="400"
          >
          A SOLUT<i class="bi bi-capsule"></i>ON <br> TO THE AFRICAN PROBLEM
          </h2>
          <p
            class="mt-4 max-w-full text-center text-lg text-black sm:text-left" data-aos="zoom-in-down" data-aos-delay="600"
          > TechUni solves one of the many problems that plagues the Nigerian people and Africa at large. We do this by creating jobs and improving the living of the Nigerian people and reducing the number of depressed persons caused by lack of employment and provision of basic human needs.
           
             
            
          </p>
         
        </article>
        <img class="w-full sm:w-1/2" data-aos="zoom-in-right" data-aos-delay="400" src="images/ark-funds-homepage-illustration.svg" alt="hug" />
      </section>


     

         <!-- Services section starts -->

     
        <h2
          class="mb-6 text-center my-24 text-3xl  font-bold text-violet-800 sm:text-4xl"
        >
          <i class="bi bi-graduation-cap text-violet-800"></i> COURSES WE OFFER
        </h2>
        <div data-aos="flip-left" data-aos-delay="400" class="service_carousel w-full my-6 sm:w-1/3 mx-auto">
          <div class="owl-carousel owl-theme">
    <div class="items rounded-xl">
        <img class="rounded-md" src="images/courses/Course AD 2.jpg" alt="">
    </div>
     <div class="items">
        <img class="car-img" src="images/courses/Course AD 3.jpg" alt="">
       
    </div>
     <div class="items">
        <img  class="car-img" src="images/courses/Course AD 4.jpg" alt="">
    </div>
     <div class="items">
        <img class="car-img" src="images/courses/Course AD 5.jpg" alt="">
    </div>
     <div class="items">
        <img  class="car-img" src="images/courses/Course AD 6.jpg" alt="">
    </div>
     <div class="items">
        <img class="car-img" src="images/courses/Course AD 7.jpg" alt="">
    </div>
    <div class="items">
        <img class="car-img" src="images/courses/Course AD 8.jpg" alt="">
    </div>
    <div class="items">
        <img class="car-img" src="images/courses/Course AD 9.jpg" alt="">
    </div>
    <div class="items">
        <img class="car-img" src="images/courses/Course AD 10.jpg" alt="">
    </div>
    <div class="items">
        <img class="car-img" src="images/courses/Course AD 11.jpg" alt="">
    </div>
    <div class="items">
        <img class="car-img" src="images/courses/Course AD 12.jpg" alt="">
    </div>
    <div class="items">
        <img class="car-img" src="images/courses/Course AD 13.jpg" alt="">
    </div>
    <div class="items">
        <img class="car-img" src="images/courses/Course AD 14.jpg" alt="">
    </div>
    
</div>

        </div>
        
      

      <!-- Services section ends -->

        <div class="peer "></div>
        <div data-aos="flip-right" data-aos-delay="400" class="my-24 flex flex-col w-full p-3 text-start  justify-between items-start sm:w-1/2 text-slate-700">
                <h2 class="text-2xl font-Body text-slate-600 my-3">Our Community</h2>
                <p class="text-4xl"> <span class="text-violet-800">We Know the importance of Community and Collaboration,</span>  we have a community where our students discuss, share ideas and help each other grow.</p>

                 <a  href="https://t.me/Tech_Uni"
                    class=" bg-violet-800 text-white my-6 p-3 w-full sm:w-1/2 rounded-md    text-center text-md" target="_blank"> 
                   Join Our Community </a> 
            </div>

            <!-- <div class="night "></div> -->

            <%- include("partials/footer"); -%>

           
        
        
       


       
       

        

       
        <a href="#" class="back-to-top d-flex  align-items-center justify-content-center"><i
                class="fas fa-arrow-circle-up"></i></a>

        </main>


        
        <!-- <hr class="mx-auto w-1/2 mb-3 bg-black dark:bg-white" /> -->

        <!-- jquery cdn -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- typed.js cdn -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js"
            integrity="sha512-1KbKusm/hAtkX5FScVR5G36wodIMnVd/aP04af06iyQTkD17szAMGNmxfNH+tEuFp3Og/P5G32L1qEC47CZbUQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="js/preload.js"></script>
       

        <!-- jquery cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

     <!-- OWL CAROUSEL JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
    loop:true,
    // margin:10,
    nav:false,
    dots: false,
    autoplay:true,
    autoplayingTimeout: 2000,
    animateIn: "fadeIn",
    animateOut: "fadeOut",
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        },
        1400:{
            items: 1
        }
    }
})
    </script>

   <script type="text/javascript">
        $('.service-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:false,
    autoplay:true,
    autoplayingTimeout: 2000,
   
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:3
        },
        1400:{
            items: 3
        }
    }
})
    </script>

    <!-- ANIMATE ON SCROLL JS CDN -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- ANIMATE ON SCROLL INIT -->
    <script defer>
        AOS.init();
    </script>

 
  <!-- particle.js links -->
  <script src="/js/particles.min.js"></script>
  <script src="/js/app.js"></script>

 <!-- Swiper JS -->
    <script src="/js/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
  

       
    
</body>
</html>
