<%- include("partials/primary_header"); -%>

  <title>TechUni : Jobs</title>



  <!-- 
    TEMPORARY : TO BE DISCARDED 
  -->

    <style>


    </style>
  
  <!--              
     TEMPORARY : TO BE DISCARDED 
  -->


  <h1 class="font-bold text-violet-800 text-center text-3xl my-12">APPLY TO JOBS</h1>


  <ul
    class="mx-auto my-12 flex list-none flex-col items-center justify-between align-middle gap-8 lg:flex-row lg:text-2xl sm:text-base">

  </ul>
 


<ul id="jobs-container" class="mx-auto my-12 flex list-none flex-col items-center justify-between align-middle gap-8 lg:flex-row lg:text-2xl sm:text-base">

</ul>


<style>

  #navigation-buttons-container 
  {
    width: auto;
    height: auto; 
    padding: 5px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }

  #back-navigation-button 
  {
      width: auto;
      height: auto;
      color: blue; 
      margin-right: 0.5rem;
  }

  #next-navigation-button 
  {
    width: auto;
      height: auto;
      color: blue; 
  }

  
</style>


<script src="js/renderJobs.js"></script>

  </script>
  </body>

  </html>

