 <footer class="flex  text-md font-Body sm:flex-row flex-col p-6 justify-between gap-4 items-start sm:items-center text-start text-violet-800 my-12">

                 <div class="">
                <h3 class="text-black dark:text-white"><img src="images/TechUni Logo@300x.png" width="200"></h3>
               
            </div>
                <div class="">

                    <p><a class="hover:underline" href="/">Home</a></p>
                    <p><a class="hover:underline"  href="/faculty">Our Faculties</a></p>
                    <p><a class="hover:underline"  href="/students">Our Students</a></p>
                </div>
                <div>
                    <p><a class="hover:underline"  href="/courses">Our Courses</a></p>
                    <p><a class="hover:underline"  href="/faq">Faqs</a></p>
                    <p><a class="hover:underline"  href="https://t.me/Tech_Uni">Our Community</a></p>
                    
                </div>
                <div>
                    <p><a class="hover:underline"  href="https://www.careeredu.co.uk/">Visit Our CareerEdu Website</a></p>
                    <p><a class="hover:underline"  href="/jobs">Career Oppurtunities</a></p>
                    <p><a class="hover:underline"  href="/policy">Policy</a></p>
                   
                    
                </div>
               
                <div class="flex flex-row gap-4 items-start justify-start">
                    <a href="https://web.facebook.com/techuniglobal" class="mx-3 mt-2 text-3xl text-purple-800 shadow-3xl shadow-black"><i class="fab fa-facebook hover:underline"></i></a>
            <a href="https://instagram.com/techuni_?igshid=YmMyMTA2M2Y=" class="mx-3 mt-2 text-3xl text-violet-800 shadow-3xl shadow-black"><i class="fab fa-instagram hover:underline"></i></a>
            </div>
                
            </footer>


       
        