<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-359829758"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-359829758');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SITE FAVICON -->
    <link href="../images/TechUni Icon@300x.png" rel="icon">
    <link href="../images/TechUni Icon@300x.png" rel="apple-touch-icon">

     <!-- OWL CAROUSEL  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- ANIMATE ON SCROLL CSS CDN -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

   
    <link href="css/output.css" rel="stylesheet" />
   
    

    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css"
      integrity="sha512-YFENbnqHbCRmJt5d+9lHimyEMt8LKSNTMLSaHjvsclnZGICeY/0KYEeiHwD1Ux4Tcao0h60tdcMv+0GljvWyHg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
       

    <!-- EXTERNAL FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <script src="js/main.js" defer></script>

    <style>
        .fixed-link{
            position: fixed;
            top: 10;
            right: 0;
            z-index:100;
        }

         /* nav a:hover {

        color: indigo !important;
        text-decoration: none !important;
        border-bottom: 0.3rem solid indigo !important;
        padding: 0.3rem !important;
        transition: all 0.5s ease-in-out 0.5s;
    } */
        /* body{
           
       background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");

        } */
    </style>
    <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1908748432791340');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=1908748432791340&ev=PageView&noscript=1" /></noscript>
    <!-- End Meta Pixel Code -->
</head>

<body class="min-h-screen bg-papayawhip-light  text-white font-Body">
    <header class="sticky top-0 z-50 bg-white  font-Body text-black   mx-auto">
        <section class="mx-auto flex max-w-full items-center justify-between p-4">
            <a class="navbar-brand " href="#"><img src="images/TechUni Logo@300x.png" alt=""  width="150px"></a>
            <div class="sm:bg-white bg-violet-800    shadow-xl  sm:shadow-none sm:p-0 sm:rounded-none p-3 rounded-full">
                <button id="hamburger-button" class="relative h-8 w-8 cursor-pointer text-xl md:hidden">
                    <!-- &#9776; -->
                    <div
                        class="absolute top-4 -mt-0.5 h-1 w-8 rounded bg-white  transition-all duration-500 before:absolute before:h-1 before:w-8 before:-translate-x-4 before:-translate-y-3 before:rounded before:bg-white before:transition-all before:duration-500 before:content-[''] after:absolute after:h-1 after:w-8 after:-translate-x-4 after:translate-y-3 after:rounded after:bg-white after:transition-all after:duration-500 after:content-['']">
                    </div>
                </button>
                <nav class="hidden  space-x-8   text-base md:block" aria-label="main">
                    <a href="/" class="w-full py-6 text-center hover:text-violet-800">Home </a>
                    <!-- <a href="https://www.careeredu.co.uk/" class="w-full py-6 text-center hover:opacity-90">Visit Our Website </a> -->
                    <a href="/courses" class="w-full py-6 text-center hover:opacity-90 hover:text-violet-800  ">Courses </a>
                    <a href="/faculties" class="w-full py-6 text-center hover:opacity-90 hover:text-violet-800 ">Faculties </a>
                    <a href="/students" class="w-full py-6 text-center hover:opacity-90 hover:text-violet-800  ">Students </a>
                    <a href="/jobs" class="w-full py-6 text-center hover:opacity-90 hover:text-violet-800  ">Apply to Jobs </a>
                    <a href="/faq" class="w-full py-6 text-center hover:opacity-90 hover:text-violet-800  ">Faqs</a>
                     <a  href="https://Store.techuni.io"
                    class=" bg-violet-800 text-white hover:bg-violet-600 rounded-b-none  p-3 w-1/2 sm:w-36 rounded-md shadow-xl   text-center text-md"  target="_blank"> 
                   Register </a> 
                   
                   
                    
                </nav>
            </div>
        </section>
        <section id="mobile-menu"
            class="top-68 justify-content-center absolute hidden w-full origin-top animate-open-menu flex-col bg-papayawhip-light text-black  text-2xl">
            <!-- <button class="text-8xl self-end px-6">
                    &times;
                </button> -->
            <nav class="flex min-h-screen  flex-col items-center py-8" aria-label="mobile">
                <a href="/" class="w-full py-6 text-center hover:opacity-90"><i class="fas fa-home text-violet-800"></i> Home</a>
                <!-- <a href="https://www.careeredu.co.uk/" class="w-full py-6 text-center hover:opacity-90"><i class="fas fa-globe-africa text-purple-900"></i> Visit Our Website</a> -->
                <a href="/courses" class="w-full py-6 text-center hover:opacity-90"><i
                        class="fas fa-user-graduate text-violet-800"></i>
                    Courses</a>
                <a href="/faculties" class="w-full py-6 text-center hover:opacity-90"><i class="fas fa-chalkboard-teacher text-violet-800"></i>
                    Faculties</a>
                <a href="/students" class="w-full py-6 text-center hover:opacity-90"><i class="fas fa-graduation-cap text-violet-800"></i> Students  </a>
                <a href="/jobs" class="w-full py-6 text-center hover:opacity-90"><i class="bi bi-briefcase-fill text-violet-800"></i> Apply For Jobs  </a>
               
                <a href="/faq" class="w-full py-6 text-center hover:opacity-90"><i class="fas fa-question text-violet-800"></i> Faqs  </a>
                 <a  href="https://Store.techuni.io"
                    class="border border-violet-800 bg-violet-800 text-white rounded-b-none  p-3 w-1/2 sm:w-36 rounded-md shadow-xl   text-center text-md"  target="_blank"> 
                   Register </a> 
                   
               
               
               
               
                
            </nav>
        </section>
    </header>